<div class="mx-auto p-6 pt-2 ">
  <div class="grid grid-cols-12">
    <div class="col-span-12">
      <div class="  bg-white rounded-[25px] p-6">
        <h1 class="text-[25px] font-[700]">سلام آقای رستمی ، خوش آمدید!</h1>
        <h3 class="text-[#00C8B3] text-[15px] font-[400]">
          رهیاری و پشتیبانی دوره‌های آموزشی
        </h3>
      </div>
    </div>


      <div class="col-span-3">

        <div class="  bg-white rounded-[25px] p-6">
          <h3 class="font-[400] text-[#64748B] text-[15px]">
            جلسات آنلاین برگزارشده
          </h3>
          <p class="text-[#00C8B3] text-[25px] font-[275]">
            24
          </p>
        </div>
      </div>
      <div class="col-span-3">
        <div class="  bg-white rounded-[25px] p-6">
          <h3 class="font-[400] text-[#64748B] text-[15px]">
            فعالیت‌های بازدیدشده
          </h3>
          <p class="text-[#00C8B3] text-[25px] font-[275]">
            17
          </p>
        </div>
      </div>
      <div class="col-span-3">
        <div class="  bg-white rounded-[25px] p-6">
          <h3 class="font-[400] text-[#64748B] text-[15px]">
            آزمون‌های داوری‌شده
          </h3>
          <p class="text-[#00C8B3] text-[25px] font-[275]">
            124
          </p>
        </div>
      </div>
      <div class="col-span-3">
        <div class="  bg-white rounded-[25px] p-6">
          <h3 class="font-[400] text-[#64748B] text-[15px]">
            کل دوره‌های رهیاری
          </h3>
          <p class="text-[#00C8B3] text-[25px] font-[275]">
            278
          </p>
        </div>
      </div>
    </div>
</div>
